<a href="https://colab.research.google.com/github/mathcute/Data-Science/blob/main/Banco_de_dados_SQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

banco = "dados.db"
conexao = sqlite3.connect(banco)
cursor = conexao.cursor()

cursor.execute("""
CREATE TABLE clientes (
  nome TEXT,
  email TEXT,
  idade INTEGER
);
""")

with open("clientes.txt", "r") as arquivo:

  for linha in arquivo:

    (nome, email, idade) = linha.split(",")

    cursor.execute("""
      INSERT INTO clientes (nome, email, idade)
      VALUES (?, ?, ?);
    """, (nome, email, idade))

cursor.execute("SELECT * FROM clientes")

for linha in cursor:

  print(linha)

cursor.execute("SELECT * FROM clientes WHERE nome = 'jorge'")
print(cursor.fetchone())

cursor.execute("""
  UPDATE clientes
  SET email = 'jorge@email.com'
  WHERE nome = 'jorge';
""")

cursor.execute("DELETE FROM clientes WHERE nome = 'jorge'")

conexao.close()

('jorge', 'jorge@email.com', 30)
('lucas', 'lucas@email.com', 25)
('lucio', 'lucio@email.com', 20)
('jorge', 'jorge@email.com', 30)