<a href="https://colab.research.google.com/github/mathcute/Data-Science/blob/main/manipulandoStrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Seperando strings

In [ ]:
nome = input("Digite seu nome: ").split(",")
print(nome)

Digite seu nome: msams
['msams']

## Substituir uma String por outra

In [ ]:
nome = "matheus"

nome1 = nome.replace("matheus", "carol")
print(nome1)

carol

## String em letra maiúscula

In [ ]:
nome = "matheus"

nome1 = nome.upper()

print(nome1)

MATHEUS

## Capitalizar a 1ª letra de uma String, através do método capitalize().

In [ ]:
nome = "lucas foi passear"

print(nome.capitalize())

Lucas foi passear

## Encontrar uma ocorrência de String dentro de outra String, através do método find()

In [ ]:
nome = "Lucas Alberto"

nome1 = nome.find("Lucas Alberto")

print(nome1)

0